<!DOCTYPE html>
<html>
  <head>
    <title>Vocabulary</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <%= link_to 'ALL', translates_path, class: 'nav-link' %>
    <%= link_to 'NOT LEARNED', not_learned_path, class: 'nav-link'  %>
    <%= link_to 'FOR REPEAT', for_repeat_path, class: 'nav-link'  %>
    <%= button_to 'ADD WORD', new_translate_path, {method: :get, :class => 'btn btn-primary',} %>
    <%= render template: 'layouts/search_form' %>
  </nav>
  <body>
    <%= yield %>
  </body>
</html>
